body {
    color:#e2e2e2;
    background-color: #4abdac;
    font-family: 'Roboto', sans-serif;
}

#container {
    margin:20px auto 20px auto;
    width:1000px;
    height:2100px;
    border:2px solid #f7b733;
    padding:10px;
    background-color:#fc4a14; 
}

#logo1 {
    width: 171px; 
    height: 200px; 
    border: 2px solid #f7b733; 
    margin-right: 10px; 
    background-image: url(../images/logo01.jpg); 
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #aaaaaa; 
}

#logo1, #header, #logo2 {
    float: left;
    margin-bottom: 20px; 
    
}

#header {
    width: 610px; 
    height: 200px; 
    border: 2px solid #f7b733;
    margin-right: 10px;
   
}

#header h1 {
    text-align: center; 
    margin-top: 70px; 
    font-size: 32px;
    padding: 10px; 
}

#logo2 {
    width: 175px;
    height: 200px;
    border: 2px solid #f7b733; 
    background-image: url(../images/logo02.jpg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #aaaaaa; 
}

#navigation_bar {
    clear: both; 
    width: 100%; 
    height: 80px; 
    border: 2px solid #f7b733; 
    margin-bottom: 15px; 
    margin-right: 10px; 
}

#navigation_bar ul{
    text-align: center; 
    word-spacing: 20px; 
    margin-top: 10px; 
    padding: 10px; 
}

#navigation_bar ul li {
    display: inline; 
    font-size: 24px; 
}


#main {
    clear: both; 
    width: 100%; 
    height: 1540px; 
    border: 2px solid #f7b733; 
    padding: 10px; 
    margin-bottom: 15px; 
    
}

#main p {
    font-size: 15px; 
    line-height: 2em; 
    padding: 10px; 
    text-indent: 10px; 
    
}

#logo3, #footer, #logo4 {
    float: left; 
    
}

#logo3 {
    width: 171px;
    height: 200px; 
    margin-right: 10px;
    border: 2px solid #f7b733;
    background-image: url(../images/logo03.jpg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
}

#logo4 {
    
    width: 175px; 
    height: 200px;
    border: 2px solid #f7b733; 
    background-image: url(../images/logo04.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 171px 200px; 
    
}

#footer {
    
    width: 610px; 
    height: 200px; 
    border: 2px solid #f7b733; 
    text-align: center;
    margin-right: 10px; 
} 

#footer h2 {
    margin-top: 70px; 
    font-size: 20px; 
} 

/* Slider by Jon Duckett */

.slider {
    clear: both; 
    width: 100%; 
    height: 760px; 
    border: 3px solid #f7b733; 
    margin-bottom: 25px; 
}

slide-viewer {
    position: relative; 
    overflow: hidden; 
    height: 300px; 
}

.slide-group {
    width: 100%; 
    height: 100%; 
    position: relative; 
}

.slide {
    width: 100%; 
    height: 100%; 
    display: none; 
    position: absolute; 
}

.slide:first-child {
    display: block; 
}

img { 
    width: 100%; 
    height: 753px;
}

/* Slider Buttons by Jon Duckett */
.slide-buttons {
    text-align: center;
}

.slide-btn {
    border: none; 
    background: none; 
    color: #e2e2e2; 
    font-size: 200%; 
    line-height: 46em; 
}

.slide-btn.active, .slide-btn:hover {
    color: #fc4a14; 
    cursor: pointer; 
}

/* Google Fonts

font-family: 'Roboto', sans-serif;

*/

/* Full Screen Image

background-image:URL(/images/);
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
background-color: #999;

*/

/*  Making a Fullscreen Video Background 

#video-background{
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

*/

/* Individual Side Box Shadows

top {
  box-shadow: 0px -15px 10px -15px #111;
}
bottom {
  box-shadow: 0px 15px 10px -15px #111;
}
left {
  box-shadow: -15px 0px 10px -15px #111;
}
right {
  box-shadow: 15px 0px 10px -15px #111;
}

*/